################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homestay/FileContentIndex/9a8a5711-390d-400a-9e33-7af72aa5713a.vsidx
